@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

.linha {
  display: flex;
  justify-content: space-between;
}
.coluna-1 {
  flex: 1;
}
.coluna-2 {
  flex: 2;
}
.blocked {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
}
.linha.center {
  align-items: center;
}
a {
  text-decoration: none;
}
.center {
  align-items: center;
}
